@using System;
@page "/AnotherPage"

<PageTitle>NewPage</PageTitle>

<div style="color: white" class="text-xxl-center">
    <h1>Tu coś ma powstać</h1>
    <p>tu też</p>
</div>


<div style="color: grey" class="text-center">
    <br>
    <h3>Set clear goals and just do it</h3>
    <br>
    <h3>And everything you wish for will appear</h3>
</div>