@using System;
@page "/"

<PageTitle>LetsStart</PageTitle>

<div style="color: white" class="text-xxl-center">
    <h1>Norbert Karasek</h1>
    <p>Numer albumu: 119190</p>
    <h3>Set clear goals and just do it</h3>
    <h3>><img src="images/work.jpg" alt="Mój obrazek" /></h3>
</div>



<div style="color: white" class="text-center">
    <h3>Set clear goals and just do it</h3>
    <img src="images/work.jpg" alt="Mój obrazek" />
</div>