@using System;
@page "/"

<PageTitle>LetsStart</PageTitle>

<div style="color: white" class="text-xxl-center">
    <h1>Norbert Karasek</h1>
    <p>Numer albumu: 119190</p>
</div>


<div style="color: grey" class="text-center">
    <br>
    <h3>Set clear goals and just do it</h3>
    <h3>><img src="images/work.jpg" alt="Praca" /></h3>
    <br>
    <h3>And everything you wish for will appear</h3>
    <img src="images/lysy_szczyt.jpg" alt="Sukses" />
</div>