@using System;
@page "/work"

<PageTitle>Work History</PageTitle>

<div style="color: white" class="text-xxl-center">
    <h1>Like almost every misfortune, the story began happily.</h1>
    <p>I was just young boy ,full of curious ideas. I did not know then, how this will affect my life.</p>
    <p>Now i can see, that every little step i took in this long journey, created me as who i am right now.</p>
</div>


<div style="color: grey" class="text-center">
    <br>
    <h3>Everything is hard before it gets easy</h3>
    <img src="images/pieklo.jpg" alt="Pieklo" />
    <br>
</div>